.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 92px 50px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

.header__menu {
    line-height: 21px;
    letter-spacing: 0.01em;/*интервал между буквами*/
}

.header__links-list {
    display: flex;
    gap: 33px;
}

.header__links-list-item {
    list-style: circle;
    white-space: nowrap;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-underline-offset: 0.2em;
    text-decoration-thickness: from-font;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    justify-self: center;
}

.header__logo-image {
    width: 148px;
}

.address {
    font-style: normal;
    max-width: 240px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: 0.01em;
}

.header__address {
    justify-self: end;
}

.address__link {
    text-underline-offset: 0.2em;
    text-decoration-thickness: from-font;
}

.cover {
    position: relative;
    max-width: 1100px;
    width: 100%;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 165px 50px 50px;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    /*letter-spacing: 0.3em;*/
    color: #FFFFFF;
}

.aligned-text {
    display: block;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
}

/*задание увеличенного letter-spacing для отдельных буĸв или пары буĸв*/
.letter-spacing-extended {
    letter-spacing: 0.6em;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
}

/*обнуление увеличенного letter-spacing*/
.no-letter-spacing {
    letter-spacing: 0em;
}

.aligned-text_center {
    text-align: center;
    line-height: 1;
}

.aligned-text_right {
    text-align: right;
    line-height: 1;
}

.cover__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 28px;
    gap: 50px;
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 50px;
}

.cover__description-text {
    letter-spacing: 0.1em;
    flex-grow: 1;
    align-items: stretch;
    font-size: 22px;
    line-height: 28px;
    word-spacing: unset;
    color: #FFFFFF;
}

.text__transform_uppercase {
    text-transform: uppercase;
}

.bet-button {
    background: transparent;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    text-wrap: nowrap;
    padding: 11px 31px;
    margin-left: auto
}

.lots {
    padding: 179px 24px 0;
}

.lots__heading {
    color: black;
    margin: 0 0 24px 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
}

.lots__card-list-item {
    display: flex;
    flex: 1 30%;
	width: 334px;
    list-style: none;
    min-height: min-content;
    flex-grow: 1;
    position: relative;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
}

.card-link {
    display: block;
    text-decoration: none;
    min-height: 563px;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 51px 40px 48px;
    height: 100%;
    flex-wrap: wrap;
}

.card__title {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: #FFFFFF;
    z-index: 1;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    z-index: 1;
}

.lots__look-more-link {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
    margin-left: 40px;
    text-underline-offset: 0.2em;
    text-decoration-thickness: from-font;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: repeat(2, min-content);
    align-items: center;
    justify-items: center;
    gap: 5px 25px;
    padding: 181px 24px 180px;
    grid-template-areas:
    "logo title"
    ". text";
}

.about__logo {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    grid-area: logo;
}

.about__logo-image {
    max-width: 148px;
}

.about__title {
    grid-area: title;
    justify-self: start;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}

.about__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.about__text-paragraph-first {
    order: 1;
}

.about__text-paragraph-second {
    order: 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    padding: 0 50px 90px;
}

.footer__address {
    justify-self: start;
    white-space: nowrap;
}

.footer__menu {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 21px;
    letter-spacing: 0.01em;
}

.footer__menu-list {
    white-space: nowrap;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link {
    text-underline-offset: 0.2em;
    text-decoration-thickness: from-font;
}

.footer__menu-link_active {
    list-style: none;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-link {
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}